@using Asp.Net.Mvc.Check.Models
@model PersonModel

@{
    ViewBag.Title = "Person Name";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @{
        const int age = 60;
    }
    <html>
    <body>
        @if (age > 50)
        {
            @Model.FirstName
            <p>The age is  greater than 50.</p>
        }
        @foreach (string address in Model.Addresses)
        {
            <tr>
                <td>@address</td>
            </tr>
        }
    </body>
</html>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>