@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @section Header {
        <div class="view">
            @foreach (string str in new[] { "Home", "List", "Edit" })
            {
                @Html.ActionLink(str, str, null, new { style = "margin: 5px" })
            }
        </div>
    }
    <div class="view">
        Home\Index Body

        @Html.Partial("TestPartial")

        @Html.Partial("StronglyTypedPartial", new[] { "Orange", "Banana" })

        @Html.Action("Time", new { time = DateTime.Now })

        @section Footer {
            <div class="view">
                This is the footer
            </div>
        }
    </div>
</div>
